@font-family-bold: "UniversNextW04-620CondB", "Arial Narrow", Arial, sans-serif;
@font-size: 14px;
@font-size-xs: 10px;
@font-size-small: 12px;
@font-size-large: 16px;
@glyphicon-size: 18px;
@default-padding: 6px;
@vertical-align: text-bottom;
@color-0: #a6cee3;
@color-1: #1f78b4;
@color-2: #b2df8a;
@color-3: #33a02c;
@color-4: #fb9a99;
@color-5: #e31a1c;
@color-6: #fdbf6f;
@color-7: #ff7f00;
@color-8: #cab2d6;
@color-9: #6a3d9a;
@color-other: #000000;

.masterportal-container .sidebar {
    width: 40%;
}

#cockpit_bauvorhaben {
	.header {
        width: 100%;
        border-bottom: 1px solid rgb(227,227,227);
        padding: 10px;
        margin-bottom: 10px;
        font-size: @font-size;
        .tool-name {
            font-family: @font-family-bold;
            font-size: @font-size-large;
        }
    }
    .row {
        border-bottom: 1px solid rgb(227,227,227);
        margin: 0px;
    }
    .filter {
        padding: 10px 20px 0 20px;
        .bootstrap-select {
            margin-bottom: 20px;
        }
        li > a {
            font-size:  @font-size;
        }
        .bs-actionsbox {
            padding: 8px;
        }
        .checkbox {
            margin-top: 0;
        }
        label {
            font-size: @font-size;
        }
        .notify {
            top: 0;
        }
    }
    .legend {
        font: @font-family-bold;
        font-size: @font-size-small;
        padding: 10px 20px 0 20px;
        max-height: 230px;
        overflow: auto;
        padding-left: 0;
        padding-right: 10px;
        label {
            padding-left: 0px;
            padding-right: 5px;
        }
        span {
            padding-left: 0;
        }
        .legend-0 {
            color: @color-0;
        }
        .legend-1 {
            color: @color-1;
        }
        .legend-2 {
            color: @color-2;
        }
        .legend-3 {
            color: @color-3;
        }
        .legend-4 {
            color: @color-4;
        }
        .legend-5 {
            color: @color-5;
        }
        .legend-6 {
            color: @color-6;
        }
        .legend-7 {
            color: @color-7;
        }
        .legend-8 {
            color: @color-8;
        }
        .legend-9 {
            color: @color-9;
        }
        .legend-other {
            color: @color-other;
        }
    }
    .graphs {
        padding: 10px 20px;
        .panel-body {
            padding-left: 0;
            padding-right: 0;
        }
        .panel-title {
            font-size: @font-size;
            font-family: @font-family-bold;
        }
    }
    .graph {
        text {
            font-family: @font-family-bold;
            font-size: @font-size-xs;
        }
    }

    .graph-tooltip-div {
        display: inline-block;
        position: absolute;
        color: black;
        padding: 2px;
        border: 2px solid white;
        text-align: center;
    }
    .graph-line-0 {
        fill: none;
        stroke: @color-0;
        stroke-width: 1px;
    }
    .graph-line-1 {
        fill: none;
        stroke: @color-1;
        stroke-width: 1px;
    }
    .graph-line-2 {
        fill: none;
        stroke: @color-2;
        stroke-width: 1px;
    }
    .graph-line-3 {
        fill: none;
        stroke: @color-3;
        stroke-width: 1px;
    }
    .graph-line-4 {
        fill: none;
        stroke: @color-4;
        stroke-width: 1px;
    }
    .graph-line-5 {
        fill: none;
        stroke: @color-5;
        stroke-width: 1px;
    }
    .graph-line-6 {
        fill: none;
        stroke: @color-6;
        stroke-width: 1px;
    }
    .graph-line-7 {
        fill: none;
        stroke: @color-7;
        stroke-width: 1px;
    }
    .graph-line-8 {
        fill: none;
        stroke: @color-8;
        stroke-width: 1px;
    }
    .graph-line-9 {
        fill: none;
        stroke: @color-9;
        stroke-width: 1px;
    }
    .graph-line-other {
        fill: none;
        stroke: @color-other;
        stroke-width: 1px;
    }
    .dot {
        cursor: pointer;
        stroke: none;
        fill: rgba(0, 0, 0, .2);
    }
}
