<% administrativeUnits.forEach(function (unit, i) { %>
    <%if (i < 10) {%>
        <span class="legend-<%=i%> glyphicon glyphicon-stop col-xs-1"/>
    <%}else {%>
        <span class="legend-other glyphicon glyphicon-stop col-xs-1"/>
    <%}%>

    <label class="col-xs-11"><%=unit%></label>
<% }); %>
