@font-family-bold: "UniversNextW04-620CondB", "Arial Narrow", Arial, sans-serif;
@font-size: 14px;
@font-size-large: 16px;
@glyphicon-size: 18px;
@default-padding: 6px;
@vertical-align: text-bottom;


#boris {
	.header {
        width: 100%;
        border-bottom: 1px solid rgb(227,227,227);
        padding: 10px;
        margin-bottom: 10px;
    }
    .tool-name {
        padding-left: 15px;
        font-family: @font-family-bold;
    }
    .brw-container {
        padding: 8px 15px;
        .info-container {
            .btn-group {
                margin: 15px 0;
            }
            dl {
                border: 1px solid rgba(227, 227, 227, 1);
                dt {
                    background-color: rgba(227, 227, 227, 0.5);
                    font-family: @font-family-bold;
                    padding: 8px;
                    .glyphicon-question-sign {
                        float: right;
                        cursor: help;
                    }
                }
                dd {
                    padding: 8px;
                    word-wrap: break-word;
                    &.help {
                        display: none;
                        text-align: justify;
                    }
                    strong {
                        font-family: @font-family-bold;
                    }
                }
            }
        }
    }
	label {
		font-family: @font-family-bold;
    }
    hr {
        margin-left: -15px;
        margin-right: -15px;
    }
    .white-backdrop {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}

@media (min-width: 768px) {
    #boris {
        label, dt, .header {
            font-size: @font-size;
        }
    }
}

@media (max-width: 767px) {
    #boris {
        label, dt, .header {
            font-size: @font-size-large;
        }
        .btn-group .glyphicon{
            font-size: @glyphicon-size;
        }
        .list-group button {
            font-size: @font-size;
        }
    }
}
